<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的项目</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="my-pro"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/student/my_project.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    {{# if(d.paFlag == 1 || d.prFlag == 1) { }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="afresh">重新申报</button>
    {{# } }}
</script>
<!-- 处理文档 -->
<script type="text/html" id="word">
    <span style="color: blue;text-decoration: underline">
        {{ d.wordName }}
    </span>
</script>
<script type="text/html" id="pa">
    {{# if(d.isPa == "") { }}
    <span style="color: #1E9FFF;">未审批</span>
    {{#  } else if(d.paFlag == 1) { }}
    <span style="color: #FF5722;">未通过审批</span>
    {{# } else { }}
    <span style="color: #009688;">通过审批</span>
    {{# } }}
</script>
<script type="text/html" id="pr">
    {{# if(d.paFlag == 0) { }}
    {{# if(d.isPr == "") { }}
    <span style="color: #1E9FFF;">未审核</span>
    {{# } else if(d.prFlag == 1) { }}
    <span style="color: #FF5722;">未通过审核</span>
    {{# } else { }}
    <span style="color: #009688;">已通过审核</span>
    {{# } } }}
</script>
<script type="text/html" id="lx">
    {{# if(d.paFlag == 0 && d.prFlag == 0) { }}
    {{# if(d.lxFlag == 0) { }}
    <span style="color: #009688;">已立项</span>
    {{# } else { }}
    <span style="color: #FF5722;">未立项</span>
    {{# } } }}
</script>
</body>
</html>
