<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目审批列表</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <style>
        .layui-card-body {
            margin: 20px 30px;
            background-color: white;
        }
    </style>
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<div class="layui-card-body">
    <div class="layui-tab layui-tab-brief" lay-filter="sp">
        <div class="layui-tab-title">
            <li class="layui-this">未审批项目</li>
            <li class="">个人审批记录</li>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div>
                    <table class="layui-table" id="no-deal" lay-skin="line"></table>
                </div>
            </div>
            <div class="layui-tab-item">
                <div>
                    <table class="layui-table" id="personal" lay-skin="line"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/project/project_sp.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="approve">
        <i class="layui-icon layui-icon-ok"></i>审批
    </button>
</script>
<!-- 格式化审批结果 -->
<script type="text/html" id="flag">
    {{# if (d.passFlag == 0) { }}
    <span style="color: #009688;">通过</span>
    {{# } else { }}
    <span style="color: #FF5722;">未通过</span>
    {{# } }}
</script>
<!-- 处理文档 -->
<script type="text/html" id="word">
    <span style="color: blue;text-decoration: underline">
        {{ d.wordName }}
    </span>
</script>
</body>
</html>
