<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业入驻审批历史记录</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="log"></table>
    </div>
</div>
<!-- 处理文档 -->
<script type="text/html" id="word">
    <span style="color: blue;text-decoration: underline">
        {{ d.wordName }}
    </span>
</script>
<!-- 处理审批结果 -->
<script type="text/html" id="agree">
    {{#  if(d.agree == 0) { }}
    通过
    {{# } else { }}
    不通过
    {{# } }}
</script>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<script type="text/javascript" src="/static/js/admin/com_register_log.js"></script>
</body>
</html>