<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>采购资金申请列表</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <style>
        .layui-table-tool {
            background-color: white
        }

        .layui-table-page {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="table" lay-filter="table"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/stock/apply_list.js"></script>
<!-- 处理结果 -->
<script type="text/html" id="agree">
    {{# if(d.dealUserId == "") { }}
    <span style="color: #1E9FFF;">未审批</span>
    {{# } else { }}
    {{# if(d.bfaAgree == 0) { }}
    已同意
    {{# } else { }}
    未同意
    {{# } } }}
</script>
<!-- 处理人 -->
<script type="text/html" id="dealUser">
    {{# if(d.dealUserId != "") { }}
    {{ d.dealUserName }}
    {{# } }}
</script>
<!-- 时间格式化-->
<script type="text/html" id="createTime">
    {{ layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<script type="text/html" id="updateTime">
    {{# if(d.dealUserId != "") { }}
    {{ layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss') }}
    {{# } }}
</script>
</body>
</html>
