<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出库申请审批</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="out-apply" lay-filter="out-apply"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/stock/out_list.js"></script>
<!-- 行工具 -->
<script type="text/html" id="option">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="agree">
        <i class="layui-icon layui-icon-ok"></i>同意
    </button>
    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="back">
        <i class="layui-icon layui-icon-close"></i>驳回
    </button>
</script>
</body>
</html>
