<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>库存管理</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<div class="layui-card">
    <div class="layui-card-header">
        <div>
            <span id="title">入库记录</span>
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table" id="table" lay-filter="table"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/stock/stock.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="into-log">
            <i class="layui-icon layui-icon-list"></i>入库记录
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="out-log">
            <i class="layui-icon layui-icon-list"></i>出库记录
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="into">
            <i class="layui-icon layui-icon-add-1"></i>入库
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="out">
            <i class="layui-icon layui-icon-edit"></i>出库审批
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="apply">
            <i class="layui-icon layui-icon-form"></i>资金申请记录
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="statistics">
            <i class="layui-icon layui-icon-chart"></i>统计
        </button>
    </div>
</script>

<script type="text/html" id="agree">
    {{# if(d.agree == 0) { }}
    <span style="color: #009688;">同意</span>
    {{# } else { }}
    <span style="color: red">驳回</span>
    {{# } }}
</script>
</body>
</html>
