<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品申请</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <style>
        .layui-btn-container {
            margin-left: 110px;
        }

        .layui-btn-container .layui-btn {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="apply">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-submit>
                    <i class="layui-icon layui-icon-ok"></i>确定
                </button>
                <button class="layui-btn layui-btn-sm" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>重置
                </button>
            </div>
            <hr class="html-editor-hr"/>
            <div class="layui-form-item" hidden>
                <label class="layui-form-label">工作室ID</label>
                <div class="layui-input-block">
                    <input type="hidden" class="layui-input" name="studId" th:value="${studId}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备</label>
                <div class="layui-input-block">
                    <select class="layui-input" id="goods" name="goodsId"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌</label>
                <div class="layui-input-block">
                    <input class="layui-input" readonly/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">型号</label>
                <div class="layui-input-block">
                    <input class="layui-input" readonly/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">剩余数量</label>
                <div class="layui-input-block">
                    <input class="layui-input" readonly/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>申请数量</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="applyNum"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/company/goods_apply.js"></script>
</body>

</html>