<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的工作室</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">
        <div>
            <span>我的工作室</span>
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table" id="my-studio" lay-filter="my-studio"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/company/my_studio.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="data-out">
            <i class="layui-icon layui-icon-export"></i>导出
        </button>
    </div>
</script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    {{# if(d.ban == 0) { }}
    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>人数变更
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="goods-apply">
        <i class="layui-icon layui-icon-form"></i>设备申请
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="goods">
        <i class="layui-icon layui-icon-list"></i>查看设备
    </button>
    {{# } else { }}
    <span style="color: red">无操作可进行</span>
    {{#  } }}
</script>
<!-- 时间格式化-->
<script type="text/html" id="createTime">
    {{ layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<script type="text/html" id="updateTime">
    {{ layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<!-- 禁用格式化 -->
<script type="text/html" id="ban">
    {{# if (d.ban == 1) { }}
    <span>禁用</span>
    {{# } else { }}
    <span>可用</span>
    {{# } }}
</script>
</body>
</html>
