<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作室申请</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css"/>
    <style>
        .layui-form .layui-form-item textarea {
            height: 169px;
        }
    </style>
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-submit>
                    <i class="layui-icon layui-icon-ok"></i>申请
                </button>
                <button class="layui-btn layui-btn-sm" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>重置
                </button>
            </div>
            <hr class="html-editor-hr"/>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>工作室</label>
                <div class="layui-input-block">
                    <select class="layui-input" name="studId" id="studio"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>申请理由</label>
                <div class="layui-input-block">
                    <textarea class="layui-input" name="applyReason" lay-verify="required|reason" lay-verType="tips"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<script type="text/javascript" src="/static/js/company/studio_apply.js"></script>
<script type="text/javascript" src="/static/js/common/verify.js"></script>
</body>
</html>