<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>成员管理</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <input type="hidden" value="student" id="mark">
    <div class="layui-card-body">
        <table class="layui-table" id="table" lay-filter="table"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/member/member.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="student">
            <i class="layui-icon layui-icon-user"></i>学生
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="tutor">
            <i class="layui-icon layui-icon-user"></i>导师
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="company">
            <i class="layui-icon layui-icon-user"></i>企业
        </button>
    </div>
</script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>修改
    </button>
    {{# if(d.ban == 0) { }}
    <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="ban">
        <i class="layui-icon layui-icon-close"></i>禁用
    </button>
    {{# } else { }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="enable">
        <i class="layui-icon layui-icon-ok"></i>启用
    </button>
    {{# } }}
</script>
<!-- 状态 -->
<script type="text/html" id="ban">
    {{# if(d.ban == 0) { }}
    启用
    {{# } else { }}
    禁用
    {{# } }}
</script>
</body>
</html>
