<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>采购资金申请审批</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <style>
        .layui-card-body {
            background-color: #EEEEEE;
        }

        .layui-btn-container {
            margin-left: 110px;
        }

        .layui-btn-container .layui-btn {
            margin-bottom: 0;
        }

        .layui-form .layui-form-item textarea {
            height: 255px;
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-submit>确定</button>
                <button class="layui-btn layui-btn-sm" type="reset">重置</button>
            </div>
            <hr class="html-editor-hr"/>
            <!-- 隐藏域 -->
            <input type="hidden" th:value="${bfaId}" name="bfaId">
            <input type="hidden" th:value="${applyMount}" name="applyMount">
            <input type="hidden" value="0" name="deal">
            <div class="layui-form-item">
                <label class="layui-form-label">审批结果</label>
                <div class="layui-input-block">
                    <input type="checkbox" value="0" name="bfaAgree" lay-skin="switch" lay-text="同意|驳回">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">理由</label>
                <div class="layui-input-block">
                    <textarea class="layui-input" name="bfaReason"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/buy_funds_apply/sp.js"></script>
</body>
</html>
