<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人审核历史记录</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<input type="hidden" th:value="${userId}" id="userId">
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="personal" lay-filter="personal"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<script type="text/javascript" src="/static/js/pro_sh/history.js"></script>
<script type="text/html" id="flag">
    {{# if(d.agree == 0) { }}
    <span style="color: #009688;">同意</span>
    {{# } else { }}
    <span style="color: red">驳回</span>
    {{# } }}
</script>
<!-- 处理文档 -->
<script type="text/html" id="word">
    <span style="color: blue;text-decoration: underline">
        {{ d.wordName }}
    </span>
</script>
</body>
</html>
