<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目审核</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="pro-sh" lay-filter="pro-sh"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/pro_sh/list.js"></script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="sh">
        <i class="layui-icon layui-icon-edit"></i>审核
    </button>
</script>
<!-- 处理文档 -->
<script type="text/html" id="word">
    <span style="color: blue;text-decoration: underline">
        {{ d.wordName }}
    </span>
</script>
<!-- 表头工具 -->
<script type="text/html" id="tool">
    <button class="layui-btn layui-btn-sm" lay-event="personal">
        <i class="layui-icon layui-icon-log"></i>个人审核记录
    </button>
</script>
</body>
</html>
