<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品管理</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <style>
        .layui-table-page {
            text-align: center;
        }

        .layui-table-tool {
            background-color: white
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="goods" lay-filter="goods"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/goods/list.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="export">
            <i class="layui-icon layui-icon-export"></i>导出
        </button>
    </div>
</script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>修改
    </button>
    {{# if(d.ban == 0) { }}
    <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="ban">
        <i class="layui-icon layui-icon-close"></i>下架
    </button>
    {{# } else { }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="reset">
        <i class="layui-icon layui-icon-ok"></i>上架
    </button>
    {{# } }}
</script>
<!-- 格式化状态 -->
<script type="text/html" id="ban">
    {{#  if(d.ban == 0) {  }}
    正常
    {{# }else { }}
    已下架
    {{# } }}
</script>
<!-- 时间格式化-->
<script type="text/html" id="createTime">
    {{ layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<script type="text/html" id="updateTime">
    {{ layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
</body>
</html>
