<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物品修改</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <style>
        .layui-btn-container {
            margin-left: 110px;
        }

        .layui-btn-container .layui-btn {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="update-form">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-submit>
                    <i class="layui-icon layui-icon-ok"></i>确定
                </button>
                <button class="layui-btn layui-btn-sm" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>重置
                </button>
            </div>
            <hr class="html-editor-hr"/>
            <div class="layui-form-item" hidden>
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="hidden" class="layui-input" id="id" name="goodsId" th:value="${id}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="goodsName" lay-verify="required" lay-verType="tips"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>品牌</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="goodsBrand" lay-verify="required" lay-verType="tips"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>型号</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="goodsModel" lay-verify="required" lay-verType="tips"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span>*</span>单位</label>
                <div class="layui-input-block">
                    <select class="layui-input" name="unitId" id="unit" lay-verify="required" lay-verType="tips"></select>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/goods/update.js"></script>
<script type="text/javascript" src="/static/js/common/verify.js"></script>
</body>
</html>
