<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工作室收回</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="revoke" lay-filter="revoke"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/common/base.js"></script>
<script type="text/javascript" src="/static/js/studio/revoke.js"></script>

<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="revoke">
        <i class="layui-icon layui-icon-refresh"></i>收回
    </button>
</script>
</body>
</html>
