<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作室管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <style>
        .layui-table-tool {
            background-color: white
        }

        .layui-table-page {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="table" lay-filter="table"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/studio/studio.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>新增
        </button>
    </div>
</script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>修改
    </button>
    {{# if (d.ban == 0) { }}
    <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="enable">
        <i class="layui-icon layui-icon-ok"></i>启用
    </button>
    {{# } else { }}
    <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="ban">
        <i class="layui-icon layui-icon-close"></i>禁用
    </button>
    {{# } }}
</script>
<!-- 时间格式化-->
<script type="text/html" id="createTime">
    {{ layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<script type="text/html" id="updateTime">
    {{ layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
</body>
</html>
