<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cdu.wxs.uiaipms.mapper.AdminMapper">
    <select id="getByUsername" resultType="cn.edu.cdu.wxs.uiaipms.form.AdminForm">
        SELECT
          admin_id AS id,
          admin_name AS `name`,
          image
        FROM
            admin
        WHERE
            username = #{username}
            AND logic_delete_flag = 0
    </select>
</mapper>