<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cdu.wxs.uiaipms.mapper.StockOutLogMapper">
    <select id="selectAll" resultType="cn.edu.cdu.wxs.uiaipms.form.StockLogForm">
        SELECT
			a.admin_name,
			s.sto_type,
			g.goods_name,
			s.goods_num,
			c.com_name,
			s.update_time,
			s.create_time
		FROM
			stock_out_log s,
			admin a,
			goods g,
			studio st,
			company c
		WHERE
			s.admin_id = a.admin_id
			AND s.goods_id = g.goods_id
			AND s.stud_id = st.stud_id
			AND st.com_id = c.com_id
			AND s.logic_delete_flag = 0
			AND a.logic_delete_flag = 0
			AND g.logic_delete_flag = 0
			AND st.logic_delete_flag = 0
			AND c.logic_delete_flag = 0
			<if test="type != null and type !=''">
				AND s.sto_type = #{type}
			</if>
		ORDER BY
			s.update_time DESC
    </select>
</mapper>