<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目立项</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <style>
        .layui-table-page {
            text-align: center;
        }

        .layui-table-tool {
            background-color: white
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-table" id="pro-lx" lay-filter="pro-lx"></table>
    </div>
</div>
<!-- js文件 -->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/pro_lx/list.js"></script>
<!-- 头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="export">
            <i class="layui-icon layui-icon-export"></i>导出
        </button>
    </div>
</script>
<!-- 行工具 -->
<script type="text/html" id="rowTool">
    {{# if(d.lx == 1) { }}
    <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="lx">
        <i class="layui-icon layui-icon-ok"></i>立项
    </button>
    {{# } else { }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="apply">
        <i class="layui-icon layui-icon-form"></i>资金申请
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="record">
        <i class="layui-icon layui-icon-list"></i>申请记录
    </button>
    {{# } }}
</script>
<!-- 格式化状态 -->
<script type="text/html" id="lx">
    {{#  if(d.lx == 0) {  }}
    已立项
    {{# }else { }}
    未立项
    {{# } }}
</script>
<!-- 时间格式化-->
<script type="text/html" id="createTime">
    {{ layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
<script type="text/html" id="lx_time">
    {{ layui.util.toDateString(d.lxTime, 'yyyy-MM-dd HH:mm:ss') }}
</script>
</body>
</html>
